<div class="well">
	<div class="col-xs-2">
		<img class="" src="http://ico.ukm.no/mobile-64.png">
	</div>
	<div class="col-xs-10">
		<p class="lead">Skal du ut og møte mulige deltakere?</p>
	</div>
	<div class="clearfix"></div>
	<p>Verktøyet Husk UKM lar deltakere legge inn mobilnummeret sitt, og få en SMS når påmeldingen har åpnet. Du kan også bruke mobilnumrene du har samlet inn til egen markedsføring.</p>
	<p>Husk UKM fungerer veldig godt på iPad eller tilsvarende.</p>
	{% if monstring.erFellesMonstring() %}
		{# UANSETT KOMMUNE OM DET ER FELLESMØNSTRING #}
		<p><span class="lead">Gå til Husk UKM</span><br>
			Velg hvilken kommune du vil rekruttere for:</p>
			{% for kommune in monstring.getKommuner() %}
				<a href="http://husk.ukm.no/f-{{ kommune.getFylke().getId() }}/k-{{ kommune.getId() }}/" class="lead">{{ kommune.getNavn() }}</a><br>
			{% endfor %}
	{% elseif monstring.getType() == 'kommune' %}
		{# SINGELMØNSTRING LOKALT #}
		<p><span class="lead"><a href="http://husk.ukm.no/f-{{ monstring.getKommuner().first().getFylke().getId() }}/k-{{ monstring.getKommune().getId() }}/">Gå til UKM Husk for {{ monstring.getKommune().getNavn() }}</a></p>
	{% elseif monstring.getType() == 'fylke' %}
		<p><span class="lead"><a href="http://husk.ukm.no/{{ monstring.getFylke().getLink() }}/">Gå til http://husk.ukm.no/{{ monstring.getFylke().getLink() }}/</a></span><br>
	{% else %}
		<p><span class="lead"><a href="http://husk.ukm.no/">Gå til UKM Husk uten å velge tilhørighet</a></span><br>
	{% endif %}
	<small>eller</small><br>
	<a href="?page=UKMrapport_admin&rapport=husk&kat=helarig">vis allerede registrerte mobilnummer i Rapporter</a></p>
</div>