<h2>Er du sikker på at du vil slette dette forslaget?</h2>

<div class="card" style="margin-bottom: 2em;">
    <p class="b">{{ forslag.getType() }}</p>
    <p>{{ forslag.getBeskrivelse() }}</p>
</div>


<form method="POST" action="?page={{GET('page')}}&action={{GET('action')}}">
    <input type="hidden" name="action" value="forslag_delete" />
    <input type="hidden" name="forslag_id" value="{{forslag.getId()}}" />
    <div class="form-group">
        <label>
            <input type="checkbox" class="form-control" name="alert" value="true" />
            Varsle {{ forslag.getEierLink()|raw }} om at ideen er slettet
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger btn-ukm">Slett</button>

        eller 

        <a href="?page={{GET('page')}}&action={{GET('action')}}">avbryt</a>
    </div>
</form>