<h2>"Husk UKM"</h2>
<p class="lead">Husk UKM er en enkel tjeneste for å samle inn mobilnummer til ungdommer.
</p>
<p>Alle mobilnummer samlet inn i dette systemet, får automatisk en sms når påmeldingen åpner. 
                        I tillegg kan du velge å sende sms til de om andre ting, skulle du ønske det.
</p>


{% if monstring.erFellesMonstring() %}
    <p class="lead">Velg hvilken kommune du vil rekruttere for:</p>
    <ol class="list-group">
        {% for kommune in monstring.getKommuner().getAll() %}
            <li class="list-group-item">
                <a href="//husk.{{ UKM_HOSTNAME }}/f-{{ kommune.getFylke().getId() }}/k-{{ kommune.getId() }}/" target="_blank">{{ kommune.getNavn() }}</a>
            </li>
        {% endfor %}
    </ol>
{% elseif monstring.getType() == 'kommune' %}{# SINGELMØNSTRING LOKALT #}<p></p>
    <p>
        <a class="btn btn-primary" target="_blank" href="//husk.{{ UKM_HOSTNAME }}/f-{{ monstring.getKommuner().first().getFylke().getId() }}/k-{{ monstring.getKommune().getId() }}/">Gå til Husk UKM</a>
    </p>
{% elseif monstring.getType() == 'fylke' %}
    <p>
        <a class="btn btn-primary" target="_blank" href="//husk.{{ UKM_HOSTNAME }}/{{ monstring.getFylke().getLink() }}/">Gå til https://husk.ukm.no/{{ monstring.getFylke().getLink() }}/</a>
    </p>
{% else %}
    <p>
        <a class="btn btn-primary" target="_blank" href="//husk.{{ UKM_HOSTNAME }}/">Gå til Husk UKM</a>
    </p>
{% endif %}

<p>
    Registrerte mobilnummer finner du i
    <a href="?page=UKMrapport_admin&rapport=husk&kat=helarig">rapporten</a>.
</p>
