<h2>Legg til en ny avis</h2>

<div class="col-xs-12 col-sm-8 col-md-6">
	<form role="form" action="?page={{ GET('page') }}&action=do_create" method="POST">
		<div class="form-group">
			<label for="name">Navn på avis</label>
			<input type="text" class="form-control" name="name" id="name" required>
		</div>
		
		<div class="form-group">
			<label for="url">Nettsted</label>
			<input type="url" class="form-control" name="url" id="url" placeholder="Husk https://" required>
		</div>
		
		<div class="form-group">
			<label for="email">E-postadresse</label>
			<input type="email" class="form-control" name="email" id="email" required>
		</div>
		
		<div class="form-group">
			<label for="type">Type</label>
			<select class="form-control" name="type" id="type" required>
				<option value="lokal">Lokalavis</option>
				<option value="region">Regionavis</option>
			</select>
		</div>
		
		
		{% if kommuner|length == 1 %}
			<input type="hidden" name="kommuner[]" value="{{ kommuner[0].getId() }}" />
		{% else %}
			<fieldset>
				<legend>Hvilke {{ monstring.getFylke().erOslo() ? 'bydeler' : 'kommuner' }} gjelder denne avisen for?</legend>
				
				<ol class="list-unstyled">
				{% for kommune in kommuner %}
					<li>
						<label>
							<input type="checkbox" name="kommuner[]" value="{{ kommune.getId() }}">
							{{ kommune.getNavn() }}
						</label>
					</li>
				{% endfor %}
				</ol>
			</fieldset>
		{% endif %}
		
		<button type="submit" class="btn btn-default">Lagre</button>
	</form>
</div>